<!-- Activities Section -->
    <section id="activities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Activities</h2>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-7">
                    <h3 class="subsection-heading">Houston Rodeo</h3>
                    <p class = "text-muted"> Update: 03/11/2020 - earlier, we had posted information about the Houston Rodeo. Unfortunately,
                    as of today, the Rodeo has been canceled due to COVID-19 concerns. Please see the list of Other Recommended Activities for things to do
                    in Houston.</p>
                    <!-- <p class = "text-muted">The biggest event of the year in Houston, the <b>Houston Livestock Show and Rodeo</b>,
                    just happens to be in town the same time as our wedding! Get your cowboy boots on and head over to enjoy the carnival games and rides,
                    livestock shows, animal exhibits, bull riding, cattle wrangling, concert, and so much more!</p>

                    <p class = "text-muted">The Houston Rodeo has two types of tickets: concert and ground admissions. The concert ticket gets you
                    into everything: the carnival, the exhibits, the rodeo show, and the concert. The ground admissions gets you only into the carnival
                    and exhibits, NOT the rodeo show or the concert. If you're able to stay until the evening when the rodeo show starts, the concert
                    ticket is the best deal. You can skip the concert if you like, but the rodeo show is the one that has all the cowboy competitions.
                    If you cannot stay until the evening, get the ground admissions ticket as that's cheaper, especially for kids. <b>** There are half-price
                    carnival tickets for the food and rides online before the rodeo starts on March 3. After March 3, you have to pay full price. **</b> Kevin and I
                    have bought the $50 half-price carnival pack for just ourselves and that has worked well for us. The only issue is that you have to hope
                    the weather is good on whatever day you go to the rodeo.</p>

                    <p class = "text-muted">
                      <a href="https://www.rodeohouston.com/Tickets/Rodeo-Concert-Tickets/Individual-Tickets" target="_blank">Rodeo Concert Tickets (on sale around Feb 6, includes rodeo show)</a></p>
                    <p class = "text-muted"><a href="rodeohouston.com/Tickets/Grounds-Admission" target="_blank">Rodeo Ground Admissions Tickets (Carnival and Exhibit only)</a></p>

                    <p class = "text-muted">If you go to the rodeo during the morning on a weekday, traffic and parking is ok, but leaving there in the evening, especially after the concert,
                       can be difficult. Kevin and I like using the Park and Ride bus shuttle options. If you have a large group, it may be best to just be patient and try to get parking.</p> -->

                    <h3 class="subsection-heading">Other Recommended Activities</h3>
                    <ul>
                      <li><p class="text-muted">Shopping at The Galleria</p></li>
                      <li><p class="text-muted">Houston Zoo</p></li>
                      <li><p class="text-muted">Houston Museum of Natural Science</p></li>
                      <li><p class="text-muted">McGovern Centennial Gardens</p></li>
                      <li><p class="text-muted">Hermann Park (includes the Japanese Gardens)</p></li>
                      <li><p class="text-muted">Space Center Houston</p></li>
                      <li><p class="text-muted">Children's Museum</p></li>
                    </ul>

                    <h3 class="subsection-heading">Our Favorite Restaurants</h3>
                    <p class="text-muted">Houston has a diverse selection of wonderful restaurants. Here are some of our
                    suggestions:</p>
                    <ul>
                      <li><p class="text-muted">BBQ: Killen's BBQ (Ranked #2 in the US!), Roegels Barbecue Co (closer to our venue), Rudy's (several locations)</p></li>
                      <li><p class="text-muted">Mexican (authentic): Hugo's</p></li>
                      <li><p class="text-muted">Texmex: Pappasito's, Jimmy Changas</p></li>
                      <li><p class="text-muted">Italian: Vinoteca Poscol</p></li>
                      <li><p class="text-muted">Japanese: Izakaya Wa (more authentic), Kata Robata (more modern)</p></li>
                      <li><p class="text-muted">Chinese (Sichuan): Chengdu Taste, Cooking Girl</p></li>
                      <li><p class="text-muted">Chinese (Dim sum): Crown Seafood</p></li>
                      <li><p class="text-muted">Chinese (general): Many in Bellaire Chinatown. Let's be honest, most of you flying in are from places with more amazing
                        Chinese food!</p></li>
                    </ul>

                   <h3 class="subsection-heading">Getting Around</h3>
                   <p class="text-muted">Houston is woefully behind in public transportation, though there is the MetroRail that goes to a few locations.
                     The bus is frankly not used by many people except for commuting to and from work or if they cannot have a car.
                     Renting a car is recommended, especially if you're not staying near the venue. Uber and Lyft are easily accessible throughout the city.
                   </p>
                </div>
                <div class="col-md-5">
                  <img class="img-centered img-limit-height" src="img/activities/rodeo.jpg" alt="Img">
                  <p class="img-caption img-centered">Rodeo Houston</p>
                </div>
            </div>
        </div>
    </section>
