<!-- Bridal Party Section -->
    <section id="bridal_party" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bridal Party</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.bridesmaids_0 %}
                <div class="col-xs-12 ">
                    <div class="party-member">
                        <img src="img/bridal_party/bridesmaids/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.name }}</h3>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for member in site.bridesmaids_1 %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="party-member">
                        <img src="img/bridal_party/bridesmaids/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.name }}</h3>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for member in site.groomsmen_0 %}
                <div class="col-xs-12 ">
                    <div class="party-member">
                        <img src="img/bridal_party/groomsmen/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.name }}</h3>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for member in site.groomsmen_1 %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="party-member">
                        <img src="img/bridal_party/groomsmen/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.name }}</h3>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="subsection-heading">For the Bridesmaids</h3>
                    <p class = "text-muted">Thank you to all you lovely ladies for being there for me as I'm preparing for
                    the big day! I am incredibly grateful that all of you jumped on board without hesitation and have been SO
                    supportive already. I am very lucky to have you all as such good friends and I am so thankful to have you by my side
                    as I make a huge commitment in my life.</p>

                    <p class = "text-muted">Risa, my best friend in the whole wide world, I'm so thankful to whatever divine intervention
                    got us together as college roommates, because we barely knew each other when we started living together but then we
                    eventually became best friends. </p>

                    <p class = "text-muted"> Renee, Kristin, Emily, and Kristine, I am so glad we all joined the anime club together back in high school
                    and started meaningful friendships that have lasted for many years.</p>
                </div>
            </div> -->
        </div>
    </section>
