<!-- FAQ Section -->
    <section id="faq" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQs</h2>
                </div>
            </div>
            <div class ="row">
              <div class="col-lg-12 text-center">
                  <h3 class="subsection-heading">I'm not going to the wedding. Do I have to RSVP?</h3>
                  <p class="text-muted">
                    It would help us a lot if you submit your RSVP form with the decline option, as we have about 200 guests to keep track.
                    However, if you have already notified us or any of our parents, we can mark you as declining.
                  </p>
                  <h3 class="subsection-heading">Are children welcome to the wedding?</h3>
                  <p class="text-muted">
                    Yes! We do request that you please quickly quiet down or usher children away from the ceremony if they get noisy.
                    The ceremony will not be very long, but please respect that this is a significant day for us as
                    we are making a lifelong commitment to each other. During the cocktail hour and reception, we will have yard-size
                    board games that kids can play with and of course, EVERYONE is welcome on the dance floor!
                  </p>
                  <h3 class="subsection-heading">May I add an additional guest? </h3>
                  <p class="text-muted">
                    Unfortunately, we cannot accommodate additional guests besides the ones included in your invite/RSVP form.
                    However, if you have already notified our parents about the guest and you do not see them on the form, please contact
                    our parents to notify us or contact us at cat.goes.miu@gmail.com.
                  </p>
                  <h3 class="subsection-heading">In my RSVP form, you forgot a family member/you misspelled a name/I prefer a different name</h3>
                  <p class="text-muted">
                    If we completely left off a family member, we are SO sorry. Please notify us or our parents and we will take care of it.
                    For incorrect names, we apologize for the mistake. Please correct the name(s) in the RSVP form before you submit.
                  </p>
                  <h3 class="subsection-heading">I would like to give a cash gift, but I prefer to hand it to someone to be safe</h3>
                  <p class="text-muted">
                    Thank you so much for providing us with a gift. If we are not available (or partying hard) and you prefer not to use the card box,
                    you are more than welcome to give any envelopes to any of our parents and they will give it to us.
                  </p>
                  <h3 class="subsection-heading">Who created the invitations?</h3>
                  <p class="text-muted">
                    Kristin Liu, one of the bridesmaids, is a graphic designer and helped design the save-the-dates and invitations. She did
                    a phenomenal job!
                  </p>
                  <h3 class="subsection-heading">I have allergies and/or food restrictions. How do I let you know?</h3>
                  <p class="text-muted">
                    When you RSVP, please make sure to include this information in the form. The catering will tailor your entree
                    to your needs.
                  </p>
                  <h3 class="subsection-heading">What are we eating?</h3>
                  <p class="text-muted">
                    During cocktail hour, there will be passed hors d'oeuvres (aka appetizers, with a fancy French name pronounced "or-derves").
                    For the adult meal, dinner will consist of a baby spinach salad appetizer followed by an entree
                    consisting of pan-seared snapper, filet mignon, Yukon potato puree, and haricot verts. As of right now (02/03/2020), the kids
                    meal is undecided but we will make sure it is delicious to kids yet well-balanced. The catering is through
                    the restaurant that owns the venue, Masraff's. For dessert, we will have wedding cake.
                  </p>
                  <h3 class="subsection-heading">Will there be an open bar?</h3>
                  <p class="text-muted">
                    YES. Please enjoy as many drinks as you like, though please drive responsibly!
                  </p>
                  <h3 class="subsection-heading">What do I wear to the wedding?</h3>
                  <p class="text-muted">
                   The dress code is cocktail/semi-formal attire.
                   See this article for helpful tips:
                   <a href="https://blog.guestboard.co/what-is-wedding-cocktail-attire/" target="_blank">Guide to Wedding Cocktail Attire</a>
                   There will be dancing at the wedding, so wear or bring comfortable shoes!
                  </p>
                  <h3 class="subsection-heading">*I* want to wear a big white dress/demand constant attention/cause a scene</h3>
                  <p class="text-muted">
                    We should warn you that our matron of honor does not take kindly to those that purposely wear a white dress to try to outshine the bride.
                    We cannot be responsible if she becomes very clumsy with red wine around you. For all other
                    problems, please keep in mind the bride enjoys practicing martial arts.
                  </p>
                  <h3 class="subsection-heading">Who created this website?</h3>
                  <p class="text-muted">
                    From Catherine - I did! I am a software developer, mostly in front-end for web applications. My brother, Calvin, is
                    also a software developer and much more experienced than I am. He developed the backend system and APIs for the RSVP section to handle
                    creating, retrieving, and storing the guest information. This was the first time I tried out Jekyll, a static site generator, that makes
                    building static sites a lot easier compared to when I created my first static site in just Notepad. The frontend
                    code is primarily in HTML and CSS, with Javascript and jQuery as well for the RSVP form. Calvin used the Graphcool service and Javascript to set up the backend.
                    I did run short on time to fully develop the RSVP form to be as nice as I hoped, but hey, the form works and I need way more time to plan the actual fun wedding
                    for you all to enjoy :). Feel free to ask me any development questions. You can use the wedding email cat.goes.miu@gmail.com if you don't have my info.
                  </p>
              </div>
          </div>
        </div>
    </section>
