  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} Developed by Catherine Szeto, the nerdier half of the happy couple. RSVP backend system developed by Calvin Szeto, Catherine's even nerdier brother</span>
                </div>

                <div class="col-md-1">
                    <!-- <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </footer>
