<!-- Hotel Section -->
    <section id="hotel" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hotel Information</h2>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-7">
                    <p class = "text-muted">For our guests, we have a reserved hotel block that provides an excellent discounted
                    room rate. To take advantage of the room rate, please reserve by <b>February 21, 2020</b>.</p>
                    <h3 class="service-heading">Hotel</h3>
                    <p class="text-muted">Houston Marriott West Loop by The Galleria</p>
                    <p class="text-muted">1750 West Loop South, Houston, TX 77027</p>

                    <h3 class="service-heading">How to Reserve</h3>
                    <p class="text-muted">Reserve online through this link:
                      <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1579108357586&key=GRP&app=resvlink" target="_blank">Miu Wedding Room Block</a></p>
                    <p class="text-muted">If you prefer to reserve over the phone, call 1(800) 228-9290 and request the "Miu Wedding Room Block" when making your reservations.</p>

                    <h3 class="service-heading">Parking</h3>
                    <p class="text-muted">Hotel parking is available for $26/day.</p>
                </div>
                <div class="col-md-5">
                  <img class="img-centered" src="img/hotel/marriott.jpg" alt="Img">
                  <p class="img-caption img-centered">Houston Marriott West Loop by the Galleria</p>
                  <div class="block">
                    <div class="mapouter">
                      <div class="gmap_canvas">
                        <iframe class="img-centered" src="https://maps.google.com/maps?q=1750%20W%20Loop%20S%2C%20Houston%2C%20TX%2077027&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <p class="img-caption img-centered">Click the map for directions to the Houston Marriott West Loop by The Galleria</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
