

<section id="rsvp" class="bg-light-gray">
        <div class="container" ng-app="rsvpApp" ng-controller="rsvpController">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="section-heading">RSVP</h2>
                    <h3 class="section-subheading text-muted">Please RSVP by February 20, 2020</h3>
                    <div><p class="text-muted">Submit the RSVP code on your invite to get started</p></div>
                </div>
            </div>

            <div class="row centered-items">

              <div class = "form-group" style="display:inherit;">
                <form name="sentRsvpCode" id="rsvpCodeForm">
                  <div>
                      <input type="text" class="form-control" placeholder="RSVP Code" id="rsvpCode" required data-validation-required-message="Please enter your RSVP code.">
                  </div>
                </form>
                <div><button id="submitRsvpCode" type="button" class="btn btn-primary" onclick="submitRsvpCode()" >Submit</button></div>
              </div>
            </div>
            <div id="rsvpFormContainer" class="row">
                <div class="col-xs-12">
                    <form name="sentRsvp" id="rsvpForm">
                        <div>
                          <div id="guestContainer">
                            <div class="guest-form-group row">
                              <div class="control-group form-group col-md-6">
                                  <input type="text" class="form-control" placeholder="Name" required data-validation-required-message="Please enter your name.">
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="control-group form-group col-md-6">
                                <div class="col-md-3"><input type="radio" name="isAccept" value="true"> Will Attend<br></div>
                                <div class="col-md-3"><input type="radio" name="isAccept" value="false"> Declines<br></div>
                                  <p class="help-block text-danger"></p>
                              </div>
                            </div>

                            <div class="row">
                              <div class = "col-xs-12">
                                <p class="text-muted">For children age 13 or over, an adult meal will be served. Children age 10-12 may choose to have the
                                kids meal or adult meal. Parents may bring in food for infants and toddlers only. For infants and toddlers, please let us know
                                if a high chair is needed as they must be individually rented before the wedding.</p>
                              </div>
                            </div>

                            <div id="guest-num-0-row" class="guest-form-group row">
                              <div class="control-group form-group col-xs-12 col-sm-6 col-md-5">
                                  <input id="guest-num-0" type="text" class="form-control" placeholder="Name" required data-validation-required-message="Please enter your name.">
                                  <p class="help-block text-danger"></p>
                              </div>

                              <div class="control-group form-group col-xs-12 col-sm-6 col-md-3">
                                <div class="row space-between">
                                  <div>
                                    <input type="radio" name="isAccept" value="true">
                                    <label for="accept">Accept</label>
                                  </div>
                                  <div>
                                    <input type="radio" name="isAccept" value="false">
                                    <label for="decline">Decline</label></div>
                                    <p class="help-block text-danger"></p>
                                </div>
                              </div>



                              <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class = "space-between">
                                  <div class="control-group form-group">
                                    <div>
                                      <label>Age:<label>
                                      <select class="age-range">
                                        <option value="default">Select Age</option>
                                        <option value="13+">13+</option>
                                        <option value="10-12">10-12</option>
                                        <option value="5-9">5-9</option>
                                        <option value="0-4">0-4</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="control-group form-group">
                                    <label>Meal:<label>
                                    <div>
                                      <select class="age-range">
                                        <option value="default">Select Meal</option>
                                        <option value="kid">Kids Meal</option>
                                        <option value="adult">Adult Meal</option>
                                        <option value="infant">No Meal</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="control-group form-group">
                                    <label class="control control-checkbox">Needs High Chair
                                    <input type="checkbox" name="high-chair" value="needsHighChair">
                                    <div class="control_indicator"></div>
                                    </label>
                                  </div>

                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="row">
                          <div class = "col-xs-12">
                              <div class="control-group form-group">
                                <label>Any food allergies, dietary restrictions, etc.? If so, please enter guest name and comment.</label>
                                  <textarea class="form-control" placeholder="Please enter any food allergies or dietary restrictions. Example: Norbert - Vegetarian, PJ - Dairy Allergy" id="foodPreferences"></textarea>
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class = "col-xs-12">
                              <div class="control-group form-group">
                                <label>Please enter any additional comments or well wishes. If there are issues with the RSVP form, please contact us or comment here and we will contact you.</label>
                                <textarea class="form-control" placeholder="Comments" id="comments"></textarea>
                                <p class="help-block text-danger"></p>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="clearfix"></div>
                          <div class="col-lg-12 text-center">
                              <div id="success"></div>
                              <button type="submit" class="btn btn-xl">Submit RSVP</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
