

<section id="rsvp" class="bg-light-gray">
        <div class="container" ng-app="rsvpApp" ng-controller="rsvpController">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="section-heading">RSVP</h2>
                    <h3 class="section-subheading text-muted">Please RSVP by February 20, 2020</h3>
                    <div><p class="text-muted">Submit the RSVP code on your invite to get started</p></div>
                </div>
            </div>

            <div class="row centered-items">

              <div class = "form-group" style="display:inherit;">
                <form name="sentRsvpCode" id="rsvpCodeForm">
                  <div>
                      <input type="text" class="form-control" placeholder="RSVP Code" id="rsvpCode" name="rsvpCode" data-msg="Please fill in the RSVP code">
                  </div>
                </form>
                <div><button id="submitRsvpCode" type="button" class="btn btn-primary" onclick="submitRsvpCode()">Submit</button></div>
              </div>
              <div id="invalid-code-msg" class="text-warning" hidden>RSVP code is invalid. Please check your code is entered correctly.</div>
            </div>
            <div id="rsvpFormContainer" class="row" hidden>
                <div class="col-xs-12">
                    <form name="sentRsvp" id="rsvpForm">
                        <div>
                          <div id="guestContainer">

                            <div class="row">
                              <div class = "col-xs-12">
                                <p class="text-muted text-center">The reception dinner will be a formal sit-down dinner catered by Masraff's,
                                  an upscale restaurant known for fine American cuisine and seafood.</p>
                                <p class="text-muted text-bold text-center">Please let us know ASAP if you have any changes to your RSVP as the sit-down dinner
                                  requires an exact guest count and seating arrangement.
                                </p>
                                <p class="text-muted text-center"><span class="text-bold">Notes for guests with children:</span> For children age 13 or over, an adult meal will be served. Children age 10-12 may choose to have the
                                kids meal or adult meal. The kids meal will be a healthy balanced meal with more child-friendly food compared to the adult meal. Parents may bring in food for infants and toddlers.
                                For infants and toddlers, please let us know if a high chair is needed as they must be individually rented before the wedding.

                              </p>
                              </div>
                            </div>

                            <hr>

                            <!-- <div id="guest-num-0" class="guest-form-group row">
                              <input id="guest-num-0-type" name="isAdult" type="hidden" value="isAdult">
                              <div class="control-group form-group col-xs-12 col-sm-6 col-md-5">
                                  <input id="guest-num-0-name" type="text" class="form-control" placeholder="Name" required>
                                  <p class="help-block text-danger"></p>
                              </div>

                              <div class="control-group form-group col-xs-12 col-sm-6 col-md-3">
                                <div class="row space-between">
                                  <div class = "center-vertical">
                                    <input type="radio" name="isAccept" value="true" required>
                                    <label for="accept">Accept</label>
                                  </div>
                                  <div class = "center-vertical">
                                    <input type="radio" name="isAccept" value="false" required>
                                    <label for="decline">Decline</label></div>
                                </div>
                              </div>

                              <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class = "space-between">
                                  <div class="control-group form-group">
                                    <div>
                                      <label>Age:<label>
                                      <select class="age-range" required>
                                        <option value="default">Select Age</option>
                                        <option value="13+">13+</option>
                                        <option value="10-12">10-12</option>
                                        <option value="5-9">5-9</option>
                                        <option value="0-4">0-4</option>
                                      </select>
                                      <p class="help-block text-danger"></p>
                                    </div>
                                  </div>
                                  <div class="control-group form-group">
                                    <label>Meal:<label>
                                    <div>
                                      <select class="meal-selection" required >
                                        <option value="default">Select Meal</option>
                                        <option value="kid">Kids Meal</option>
                                        <option value="adult">Adult Meal</option>
                                        <option value="infant">No Meal</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="control-group form-group">
                                    <label class="control control-checkbox">Needs High Chair
                                    <input type="checkbox" class="high-chair" name="highChair" value="needsHighChair">
                                    <div class="control_indicator"></div>
                                    </label>
                                  </div>

                                </div>
                              </div>
                            </div>-->

                          </div>
                        </div>

                        <div class="row">
                          <div class = "col-xs-12">
                              <div class="control-group form-group">
                                <label>Any food allergies, dietary restrictions, etc.? If so, please enter guest name and comment.</label>
                                  <textarea class="form-control" placeholder="Please enter any food allergies or dietary restrictions. Example: Norbert - Vegetarian, PJ - Dairy Allergy" id="foodPreferences"></textarea>
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class = "col-xs-12">
                              <div class="control-group form-group">
                                <label>Please enter any additional comments or well wishes. If there are issues with the RSVP form, please contact us or comment here and we will contact you.</label>
                                <textarea class="form-control" placeholder="Comments" id="comments"></textarea>
                                <p class="help-block text-danger"></p>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="clearfix"></div>
                          <div class="col-lg-12 text-center">
                              <div id="success"></div>
                              <button type="submit" class="btn btn-xl" onclick="submitRsvp()">Submit RSVP</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
