<!-- Wedding Details Section -->
    <section id="wedding_details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wedding Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="subsection-heading">Postponement of our Wedding</h3>
                    <p class="text-muted">Due to COVID-19, we have made the difficult decision to postpone our March 21 wedding to a
                    later date for the safety of our family and friends, especially since many of our guests would have to fly
                    into Houston. We are busy working with vendors to schedule a new date and we will update you all as soon as possible
                    on the new date.</p>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-7">
                    <h3 class="subsection-heading">Date and Time</h3>
                    <p class="text-muted">Postponed - New Date Coming Soon!</p>
                    <!-- <p class="text-muted">Doors open for guests at 4:00 pm</p>
                    <p class="text-muted">The bride and groom grand exit will be no later than 10:30 pm</p> -->

                    <h3 class="subsection-heading">Location</h3>
                    <p class="text-muted">Both ceremony and reception will be held at:</p>
                    <p class="text-muted">The Wynden</p>
                    <p class="text-muted">1025 S Post Oak Ln, Houston, TX 77056</p>
                    <p class="text-muted">If weather permits, the ceremony will be outside. The reception will be indoors.</p>

                    <h3 class="subsection-heading">Parking</h3>
                    <p class="text-muted">Complimentary valet parking will be provided for all guests. This area is
                    near the Galleria mall area and valet service may take time, so try to arrive 15-30 minutes early.</p>

                    <h3 class="subsection-heading">Dress Code</h3>
                    <p class="text-muted">Cocktail or semi-formal attire. </p>
                    <p class= "text-muted"> See this article for helpful tips: <a href="https://blog.guestboard.co/what-is-wedding-cocktail-attire/" target="_blank">Guide to Wedding Cocktail Attire</a></p>

                    <h3 class="subsection-heading">Lodging</h3>
                    <p class="text-muted">Please refer to the <a href="#hotel" class="page-scroll">Hotel Information</a> section.</p>
                </div>
                <div class="col-md-5">
                  <img class="img-centered img-limit-height" src="img/wedding_details/the_wynden.png" alt="Img">
                  <p class="img-caption img-centered">The Wynden</p>
                  <div class="block">
                    <div class="mapouter">
                      <div class="gmap_canvas">
                        <iframe class="img-centered" src="https://maps.google.com/maps?q=the%20wynden%20houston&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <p class="img-caption img-centered">Click the map for directions to The Wynden</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
